
<div class="all">
  <div class="first two">
    <h2>Users over the age of 20:</h2>
    <table border="1">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <ng-container *ngIf="user.age > 20">
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.age }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="5">
      <form (ngSubmit)="addUser()">
        <div class="form-group">
          <label for="firstname">First Name:</label>
          <input type="text" formControlName="Firstname" class="form-control">
        <div *ngIf="userForm.get('Firstname')!.invalid && userForm.get('Firstname')!.touched"
             class="invalid-feedback">
             <span>First Name is required and must be at least 3 characters</span>
        </div>
        <label for="lastname">Last Name:</label>
        <input type="text" formControlName="Lastname" class="form-control" name="lastname">
        <div *ngIf="userForm.get('Lastname')!.invalid && userForm.get('Lastname')!.touched"
          class="invalid-feedback">
          <span>First Name is required and must be at least 3 characters</span>
        </div>
        <label for="Email">Email:</label>
        <input type="text" formControlName="Email" class="form-control" name="Email">
        <div *ngIf="userForm.get('Email')!.invalid && userForm.get('Email')!.touched"
          class="invalid-feedback">
          <span>First Name is required and must be at least 3 characters</span>
        </div>
        <label for="DateOFBirth">Date OF Birth:</label>
        <input type="date" formControlName="DateOFBirth" class="form-control" name="DateOFBirth">
        <div *ngIf="userForm.get('Firstname')!.invalid && userForm.get('Firstname')!.touched"
          class="invalid-feedback">
          <span>First Name is required and must be at least 3 characters</span>
        </div>
        <button type="submit" class="btn btn-primary">Add User</button>
        </div>
      </form>
    </div>
    
    <h2>Users:</h2>
    <ul>
      <li *ngFor="let user of users">
        {{ user.Firstname }} {{ user.Lastname }} - {{ user.Email }}
      </li>
    </ul>
    
    <app-user [users]="usersArray"></app-user>
    <app-user></app-user>
    <router-outlet></router-outlet>
</div>

